A { text-decoration:none;}
A:link { color: blue }
A:visited { color: blue }
A:hover { color: red }
 .tabmsg { font-size:12px; text-align:center; font-family: "Arial", "Helvetica", sans-serif; color:navy;}
 .stileupdn {font-weight:bold; font-size:8px; font-family: "Arial", "Helvetica, sans-serif"; text-align:center; color:blue;}
 .stileret {font-size:8px; font-family: "Arial", "Helvetica", sans-serif;}
